.home{
  .actions-form{
    position: relative;
    background:url("/images/charity.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    background-color:$text-color;
    min-height:700px;
    .search-action{
      position:absolute;
      bottom:0;
      padding-bottom:100px;
    }
  }
}
.actions-form{
  text-align:center;
  padding: 25px;
  color:$brand-primary;
  font-weight:900;
  .search-action{
    text-align:center;
    width:100%;
  }
  h2{
    font-size:3em;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px $panel-default-heading-bg;
  }
  p{
    font-size:1.5em;
  }
}

.single-action{
  margin:50px auto;
}
